START_PORT=9050
PROXY_COUNT=10

# END_PORT = START_PORT + PROXY_COUNT
END_PORT=9060

# Optional: Control port
CONTROL_BASE_PORT=9050
ENABLE_CONTROL=false

# Optional: Bridges (in templates/bridges.txt)
USE_BRIDGES=false

TOR_LOG_LEVEL=notice
ENABLE_MONITORING=true
